/*Здесь начинаются стили*/
body {
    background-color: #F4E1C6;
    color: #5a5a5a;
}
/*Стилизуем шапку сайта*/
.h1 {
    background-color: #E67E22;
    padding: 20px;
    color: #F4E1C6;
    font-size: 22px;
}
.h2 {
    display: none;
}
a {
    color: #F4E1C6;
    font-size: 22px;
    text-decoration: none;
    margin: 10px;
}
a:hover {
    text-decoration: underline;
}
#vozm, #nach {
    border: 5px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
}
/*Стилизуем формы*/
select {
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    background-color: #F4E1C6;
    color: #5a5a5a;
}
input {
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    accent-color: #E67E22;
    background-color: #F4E1C6;
}
input::placeholder {
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    accent-color: #E67E22;
    background-color: #F4E1C6;
    color: #5a5a5a;
}
fieldset {
    border: 3px solid #E67E22;
    border-radius: 40px;
    width: 100%;
    padding: 20px;
    margin: -10px;
}
legend {
    margin: 40px;
    font-size: 25px;
}
#about {
    border: 5px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
}
p {
    text-align: justify;
}
#news {
    border: 5px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
}
button {
    padding: 20px;
    border: none;
    border-radius: 40px;
    background-color: #E67E22;
    color: #F4E1C6;
}
button:hover{
    transform: scale(1.1);
}
/*Стилизуем картинку*/
img:hover {
    transform: scale(1.2);
}
#n1, #n2, #n3, #n4, #n5 {
    width: 95%;
}
#partner {
    border: 5px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
}
#partner img {
    margin: 20px;
}
#history {
    border: 5px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
}
video {
    border-radius: 40px;
    border: 5px solid #E67E22;
}
/*Стилизуем кнопку наверх*/
.box {
    text-align: center;
    background-color: #7d1a1a;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    animation-name: rotate;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
  
  .box:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .abox {
    font-size: 120px;
    background-color: rgb(0, 0, 0, 0);
  }
  .abox:hover {
    text-decoration: none;
  }
/*Стилизуем подвал сайта*/
footer {
    background-color: #E67E22;
    padding: 20px;
    color: #F4E1C6;
    font-size: 15px;
}
footer a {
    background-color: #E67E22;
    color: #F4E1C6;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .h2 {
        display: block;
        background-color: #E67E22;
        padding: 20px;
        color: #F4E1C6;
        font-size: 22px;
    }
    .h1 {
        display: none;
    }
}