/*Здесь начинаются стили*/
body {
    background-color: #F4E1C6;
    color: #5a5a5a;
}
/*Стилизуем шапку сайта*/
header {
    background-color: #E67E22;
    padding: 20px;
    color: #F4E1C6;
    font-size: 22px;
}
a {
    color: #F4E1C6;
    font-size: 22px;
    text-decoration: none;
    margin: 10px;
}
a:hover {
    text-decoration: underline;
}
/*Стилизуем формы*/
select {
    margin: 20px;
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    color: #5a5a5a;
}
input {
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    accent-color: #E67E22;
    margin: 20px;
    background-color: #F4E1C6;
}
input::placeholder {
    padding: 15px;
    border: none;
    border-bottom: 3px solid #E67E22;
    accent-color: #E67E22;
    background-color: #F4E1C6;
    color: #5a5a5a;
}
fieldset {
    border: 3px solid #E67E22;
    border-radius: 40px;
    width: 95%;
    padding: 20px;
    margin: 10px;
}
legend {
    margin: 40px;
    font-size: 25px;
}
button {
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 40px;
    background-color: #E67E22;
    color: #F4E1C6;
}
/*Стилизуем картинку*/
img:hover {
    transform: scale(1.2);
}
/*Стилизуем секцию с билетами*/
#bilets {
    border: 3px solid #E67E22;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
    text-align: center;
}
.b1, .b2 {
    border: 3px solid #5A5A5A;
    padding: 10px;
    width: 270px;
}
.b3 {
    border: 3px solid #E67E22;
    padding: 10px;
    width: 270px;
}
#bilets td {
    width: 33%;
    text-align: center;
}
/*Стилизуем кнопку наверх*/
.box {
    text-align: center;
    background-color: #7d1a1a;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    animation-name: rotate;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
  
  .box:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .abox {
    font-size: 120px;
    background-color: rgb(0, 0, 0, 0);
  }
  .abox:hover {
    text-decoration: none;
  }
/*Стилизуем подвал сайта*/
footer {
    background-color: #E67E22;
    padding: 20px;
    color: #F4E1C6;
    font-size: 15px;
}
footer a {
    background-color: #E67E22;
    color: #F4E1C6;
    font-size: 15px;
}